// COLORS
$color-primary: #555;
$white-color: #fff;
$black-color: #000;
$hover-color: #bac34e;
$text-color: #0a472e;

// FONTS
$font-mazzard: "Mazzard", sans-serif;
$font-primary: "Pacifico", cursive;
