.hero {

  &__sec {
    @include flex;
    justify-content: space-between;
    padding: 21px 0;
  }

  &__text {
    font-size: 14px;
    color: $black-color;
    margin: 0;
  }

  &__list {
    @include list-unstyled;
    @include flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    font-size: 12px;
    color: $color-primary;
    text-transform: uppercase;
    text-decoration: none;
    @include transition;

    &:hover {
      color: $hover-color !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .hero__sec {
    display: none;
  }
}
