.photos {
  max-width: 1400px;
  margin: 0 auto;
  background-color: $white-color;
  padding: 80px 0;

  &__sec {
    padding: 0 15px;
  }

  &__wrap {
    position: relative;
    text-align: center;
  }

  &__link-box {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  &__text {
    text-decoration: none;
    font-size: 20px;
    color: $white-color;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 24px;

    &:hover {
      color: $white-color;
    }

    &::after {
      content: '';
      width: 50px;
      height: 1px;
      background: $white-color;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include transition;
      bottom: -20px;
    }
  }

  &__small-img {
    position: relative;
    margin-top: 30px;
  }
  &__multi-box {
    position: relative;

      
  }
  &__box {
    position: relative;

    &:hover::before {
      width: 100%;
      height: 100%;
    }

    &:hover::after {
      width: 100%;
      height: 100%;
    }
    

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-radius:7px;
      background-color: #0000001a;
      transition: all 0.4s ease-out;
      z-index: 2;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-radius:7px;
      background-color: #0000001a;
      transition: all 0.4s ease-out;
      cursor: pointer;
    }
    
  }
}

/*---------- PHOTOS SECTION RESTONSIVE ----------*/

@media screen and (max-width:992px) {
  .photos__small-img {
    margin-top: 20px;
  }
}
@media screen and (max-width:768px) {
  .photos__img {
    width: 100%;
    margin: 15px 0;
  }
}
