.process {
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0;
  background-color: $white-color;

  &__list {
    @include list-unstyled;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 1px

  }

  &__item {
    @include flex;
    padding: 60px 20px;
    position: relative;

    &:hover::before {
      width: 100%;
    }
    &::before {
      content: "";
      width: 0;
      height: 3px;
      background-color: $black-color;
      position: absolute;
      left: 0;
      bottom: 0;
      @include transition;
    }
  }

  &__wrap {
    width: calc(100% - 62px);
    padding-left: 15px;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.1;
    color: $text-color;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    color: #555;
    line-height: 18px;
  }
}

/*--------PROCESS RESPONSIVE-------*/
@media screen and (max-width:992px) {
  .process__list {
    flex-flow: row wrap;
  }
  .process__item {
    padding: 30px 70px;
  }
}
@media screen and (max-width:768px) {
  .process__item {
    padding: 30px 0;

    &::before {
      display: none;
    }
  }
}